<div class='container'>
  {{custom-html "top"}}
  {{global-notice}}
  {{discourse-banner user=currentUser banner=site.banner}}

  {{#if siteSettings.enable_slider}}
    <div class="row">
      {{{siteSettings.slider_content}}}
    </div>
  {{/if}}

</div>

<div class='list-controls'>
  <div class="container">
    {{outlet "navigation-bar"}}
  </div>
</div>

{{conditional-loading-spinner condition=loading}}